/* Header area Css starts */


@media (max-width:500px) {
    .inner-header {
        flex-direction: column;
    }

    .nav-menu-area ul {
        flex-direction: column;
        margin: 10px 0;
    }

    .nav-menu-area {
        flex-direction: column;
    }

    .nav-menu-area ul li {
        margin: 5px 0;
    }

    .profile {
        margin: 0;
    }

    .nav-menu-area ul li a {
        font-size: 1em;
        line-height: 20px;

    }

}

/* Header area Css Ends */
